*Do ot remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} \.html-f 
RewriteRule ^(.*)$ $1.html  [NC,L]
